body {
    margin: 0;
    background-color: #fceeed;
    font-family: 'Lato', sans-serif;
  }

  .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }

header {
    min-height: 55px;
    display: flex;
    
    /* justify-content: space-between;*/
    align-items: center;
    background-color: #558257;

    /* position: fixed; */
    top: 0;
    left: 0px;
    right: 0px;
  }

  @media (max-width: 800px) {
    header {
      flex-wrap: wrap;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      justify-content: space-around;
    }
  }

  .brand {
    left: 0;
  }

  @media (max-width: 800px) {
    .brand {
      margin-top: 15px;
      width: 100%;
      position: relative;
    }
  }

  .name {
    max-width: 300px;
    position: relative;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
  }

  h1 {
    color: whitesmoke;
  }

  @media (max-width: 650px) {
    nav-bar {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      justify-content: space-around;
      padding: 0 50px;
      padding-bottom: 5px;
    }
  }

  @media (max-width: 650px) {
    .btn {
      flex-direction: row;
    }
  }

  .btn {
    background-color: #558257;
    border: none;
    color: whitesmoke;
    text-align: center;
    font-size: 18px; 
    font-weight: bold;
    opacity: 0.6;
    transition: 0.3s;
    width: fit-content;
  }

  .btn:hover {
    background-color: #558257;
    color: #254E48;
  }

  .user {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: whitesmoke;
    padding-right: 25px;
    position: absolute;
    opacity: 1;
    right: 0;
    
  }

  .user > p {
    margin-left: 5px;
  }
  
  .row {
    width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .row::after {
    content: "";
    /* display: table; */
    /* clear: both; */
  }

  .column-l {
    float: left;
    width: 35%;
    padding: 15px;
    position: relative;
  }

  .column-r {
    float: left;
    padding: 15px;
    width: auto;
    position: relative;
  }

  @media screen and (max-width: 992px) {
    .column-l, .column-r {
      width: 50%;
      flex-direction: column;
    }
  }

  @media screen and (max-width:600px) {
    .column-l, .column-r {
      width: 100%;
      flex-direction: column;
    }
  }

  /* .left-image {
    position: relative;
  } */

  .column-l > img{
    height: 580px;
    width: 100%;
    max-width: 425px;
    display: block;
    object-fit: cover;
  }

  .column-r > img{
    height: 300px;
    width: 580px;
    display: block;
    object-fit: cover;
  }

  @media screen and (max-width:600px) {
    .column-l > img, .column-r > img{
    max-width: 100%;
    height: auto;
    }
  }

  .top-left {
    position: Absolute;
    top: 30px;
    left: 40px;
    font-size: 35px;
    font-family: Georgia, serif;
    color: #162926;
  }

  @media (max-width:600px) {
    .top-left{
    font-size: 30px;
    }
  }

  .top-right {
    position: Absolute;
    bottom: 310px;
    left: 30px;
    font-size: 35px;
    font-family: Georgia, serif;
    color: #162926;
  }

  @media (max-width:600px) {
    .top-right{
    font-size: 30px;
    }
  }

  .bottom-left {
    position: absolute;
    bottom: 30px;
    right: 550px;
    font-size: 35px;
    font-family: Georgia, serif;
    color: #162926;
  }

  .bottom-right {
    position: absolute;
    bottom: 30px;
    right: 300px;
    font-size: 35px;
    font-family: Georgia, serif;
    color: #162926;
  }

  .stack {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .stack > img{
    width: 280px;
    height: 260px;
    object-fit: cover;
  }

  @media screen and (max-width:600px) {
    .stack > img{
    width: 480px;
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    }
  }